@font-face {
    font-family: 'SamsungSans';
    src: URL('ssans.ttf') format('truetype');
}

table {
    display: inline-block;
    vertical-align: middle;
}

.refresh {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

td {
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: white;
    font-family: SamsungSans;
}
a#track {
    font-weight: bold;
    font-family: SamsungSans;
}

a:hover {
    color: #6DDAB9;
}

#heart {
    margin: 0px 10px;
}
